tensorflow==2.17.0
numpy==1.26.4
Pillow==9.5.0
fastapi==0.95.0
uvicorn==0.30.0

# ML & Data Processing
scikit-learn
joblib

# FastAPI Extensions
python-multipart

# SQL
sqlmodel
psycopg2-binary

#mqtt
paho-mqtt