.filter-tabs {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px 8px 0 0;
    border: 1px solid #e2e8f0;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter-tab {
    font-size: 1.1rem;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-tab:hover {
    background-color: #f1f5f9;
    color: #3182ce;
}

.filter-tab.active {
    font-weight: bold;
    color: #3182ce;
}