.filter-tabs {
    display: grid;
    padding: 1rem;
    background-color: white;
    border: 1px solid #e2e8f0;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0.5rem;
}

.filter-tab {
    font-size: 1.1rem;
    color: black;
    padding: 0.5rem 1rem;
    /* border-radius: 5px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-right: 1px solid #ccc;
}

.filter-tab:last-child {
    border-right: none;
}

.filter-tab:hover {
    background-color: #f1f5f9;
    color: #3182ce;
}

.filter-tab.active {
    font-weight: bold;
    color: #3182ce;
}