.machine-list-container {
    position: relative;
    border: 2px solid #eef0f4;
    /* background-color: rgb(231, 233, 239); */
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    min-height: 100vh;
    /* grid-template-columns: 2fr 1fr; */
}

.machine-grid {
    display: flex;
    flex-direction: column;
    border: 2px solid #eef0f4;
    /* gap: 1rem; */
    width: 100%;
    margin-left: auto;
    border-collapse: collapse;
    /* background-color: rgb(231, 233, 239); */
    overflow-y: auto;
    border-radius: 0.5rem;
}

.content-wrapper {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
}

.main-content {
    width: 80%;
}